<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("./partials/css.ejs") %>
  <title>Reset Password</title>
</head>

<body>
  <%- include("./partials/navbar.ejs") %>
  <div class="container mt-5">
    <h2>Reset Password</h2>

    <!-- Form to Send OTP -->
    <form id="sendOtpForm" action="/user/sendOtp" method="POST">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" value="<%= locals.email || '' %>" required>
      </div>
      <button type="submit" class="btn btn-secondary mt-2">Send OTP</button>
      <% if (locals.otpSuccessfulMsg) { %>
        <div class="alert alert-success mt-2"><%= locals.otpSuccessfulMsg %></div>
      <% } %>
      <% if (locals.otpErrorMsg) { %>
        <div class="alert alert-danger mt-2"><%= locals.otpErrorMsg %></div>
      <% } %>
    </form>

    <!-- Form to Reset Password -->
    <form id="resetPasswordForm" action="/user/resetPassword" method="POST" class="mt-4">
      <div class="form-group">
        <label for="otp">OTP:</label>
        <input type="text" id="otp" name="otp" class="form-control" value="<%= locals.otp || '' %>" required>
      </div>
      <div class="form-group mt-3">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" required>
      </div>
      <div class="form-group mt-3">
        <label for="confirmNewPassword">Confirm New Password:</label>
        <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" required>
      </div>
       <!-- Hidden email field for 2nd form--> 
       <input type="hidden" name="email" value="<%= locals.email || '' %>">
      <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
      <% if (locals.passwordResetErrorMsg) { %>
        <div class="alert alert-danger mt-2"><%= locals.passwordResetErrorMsg %></div>
      <% } %>
      <% if (locals.passwordResetSuccessMsg) { %>
        <div class="alert alert-success mt-2"><%= locals.passwordResetSuccessMsg %></div>
      <% } %>
    </form>
  </div>
  <%- include("./partials/script.ejs") %>
</body>

</html>
